/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --color-text: rgba(41, 41, 41, 1);
}

html {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Ereader main reading content */
.content-container {
  max-width: 990px;
  margin: 0 auto;
}

h2 {
  font-size: 1.602rem;
  font-weight: 400;
  margin-top: 2.37em;
  margin-bottom: 0;
}

h2 + p {
  margin-top: .85rem;
}

h3 {  
  font-size: 1.324rem;
}

h4 {  
  font-size: 1.2rem;
  font-weight: 400;
}

h5 {  
  font-size: 1rem;
  font-weight: 400;
}

p {
  font-size: 1.11rem;
  line-height: 2rem;
  letter-spacing: -.003em;
  margin: 2rem 0 0 .5rem;
}

img {
  border-style: none;
  display: block;
  height: auto;
  max-width: 85%;
  margin: 56px auto 2rem;
  background-color: var(--white);
}
/* === */

/* Page controller i.e. next, prev, page selection buttons */
.page-controller {
  max-width: 990px;
  margin: 2rem auto;
  display:flex;
  justify-content: space-between;
}

.page-controller button {
  margin: 5px;
}
/* === */

.publication-info {
  max-width: 990px;
  margin: 0 auto;
}

.publication-info p {
  margin-top: 1rem;
}

/* .reader-wrapper {
  display: flex;
} */

/* Sidebar */
.sidebar {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  margin-right: 25%;
}

.sidebar-nav {
  background-color: aqua;
  height: 100%;
  padding: 0px;
  width: 0px;
  transition: all 0.3s ease-in-out;
}

.sidebar-nav.open {
  padding: 5px;
  width: 90px;
}

.sidebar-controls {
  background-color: aquamarine;
  padding: 5px;

}
/* === */