/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --light-grey: rgba(233, 233, 233, 1);
  --white: rgba(255, 255, 255, 1);
  --white-layer-1: rgba(179, 179, 179, 1);
  --dark-layer-1: rgba(24, 24, 24, 1);
  --dark-layer-2: rgba(40, 40, 40, 1);
  --dark-layer-3: rgba(64, 64, 64, 1);
  --dark-layer-4: rgba(100, 100, 100, 1);
  --black: rgba(18, 18, 18, 1);
  --white-text: rgba(216, 216, 216, 1);
  --standard-time: .5s ease;
}

html {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: var(--white);
  transition: var(--standard-time);
}

body[darkmode] {
  background-color: var(--black);
  transition: var(--standard-time);
}

body[darkmode] :is(h1,h2,h3,h4,h5,p,li,ul,ol,) {
  color: var(--white-text);
}

/* Ereader main reading content */
.content-container {
  max-width: 700px;
  margin: 0 auto;
}

.content-container h2 {
  font-size: 2.8rem;
}

.content-container p {
  font-size: 1.2rem;
  line-height: 1.35;
}

main {
  padding-top: 50px;
}

/* Page Controller styles */
.page-controller {
  position: fixed;
  top: 0;
  left: 0;
  display:flex; 
  z-index: 999;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: var(--standard-time);
  margin-right: 10%;
  box-shadow: 0 0 5px var(--light-grey);
  background-color: var(--white);
}

body[darkmode] #navigation[expanded] .page-controller {
  background-color: var(--dark-layer-1);
}

body[darkmode] .page-controller {
  background-color: var(--black);
  box-shadow: 0 0 5px var(--dark-layer-4);
  transition: var(--standard-time);
}

/* Forward & back button styles */
.back-btn,.forward-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid rgba(18, 18, 18, .25);
  background-color: rgba(239, 239, 239, 1);
  transition: var(--standard-time);
}

.back-btn:hover,.forward-btn:hover {
  background-color: rgba(18, 18, 18, .2);
  transition: var(--standard-time);
  cursor: pointer;
}

body[darkmode] .back-btn,body[darkmode] .forward-btn {
  background-color: var(--dark-layer-3);
  color: var(--white);
}

body[darkmode] .back-btn:hover,body[darkmode] .forward-btn:hover {
  background-color: var(--dark-layer-4);
  color: var(--white);
}

a.ext::after {
  content: "  \f35d";
  font-family: "FontAwesome";
  opacity: 1;
  font-weight: 700; 
  font-size: .9rem;
  text-decoration: none;
}

/* Dark Mode Toggle Button */
.darkmode-toggle {
  position:relative;
  display: inline;
  width: 5.5em; 
  height: 3em;
  cursor: pointer;
  border-radius: 1.5em;
  transition: 350ms;
  margin: 0 20px;
  z-index: 999;
  border: 1px solid rgba(18, 18, 18, .25);
  background-color: rgba(239, 239, 239, 1)
}

.publication-info {
  max-width: 700px;
  margin: 0 auto;
}

/* .reader-wrapper {
  display: flex;
} */


/* Navigation Mobile */
nav {
  position:fixed;
  top:0;
  left:-120%;
  width: 100%;
  transition: var(--standard-time);
  height: 100%;
  z-index: 998;
  background-color: var(--white);
  padding: 70px 15px 0;
  box-shadow: 0 0 5px var(--light-grey);
}

body[darkmode] nav {
  background-color: var(--dark-layer-1);
  box-shadow: 0 0 5px var(--dark-layer-4);
  transition: var(--standard-time);
}

/* remove scroll bar */
nav {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

nav::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

nav.open {
  left: 0;
}

nav ul {
  margin: 0;
}

.nav-controls {
  display: flex;
  align-items: center;
  transition: var(--standard-time);
  z-index: 999;
  width: 100%;
}

.page-turner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: var(--standard-time);
  margin-right: 20px;
  z-index: 999;
  width: 120px;
}


.nav-toggle {
  transition: .542s ease;
  background-color:transparent;
  border:none;
  cursor:pointer;
}

body[darkmode] .nav-toggle {
  background-color: transparent;
}

body[darkmode] .nav-toggle #nav-icon span {
  background-color: var(--white);
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
}

nav ul{
  display:flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 0;
}

a {
  cursor: pointer;
}

a:hover {
  color: blue;
}

nav ul li a {
  padding: 15px 15px 15px 10px;
  display:block;
  font-size: 1rem;
}

.darkmode-toggle {
  position:relative;
  display: inline;
  width: 5.5em; 
  height: 3em;
  cursor: pointer;
  border-radius: 1.5em;
  transition: 350ms;
  margin: 0 20px;
  z-index: 999;
  border: 1px solid rgba(18, 18, 18, .25);
  background-color: rgba(239, 239, 239, 1)
}

body[darkmode] .darkmode-toggle {
  background-color: var(--dark-layer-3);
}

.darkmode-toggle::before {
  position: absolute; content:'';
  width: 2em;
  height: 2em;
  top: 0.4em;
  left: 0.3em;
  border-radius: 50%;
  border: 1px solid rgba(18, 18, 18, .25);
  transition: 250ms ease-in-out;
  background: linear-gradient(var(--white) 10%, #eee);
  z-index: 999;
}

.fa-moon:before {
  display: inline-block;
  transform: rotate(0deg);
}

.icon-lrg {
  font-size: 1.5em;
}

.fa-sun::before {
  color: var(--black);
  transition: .5s ease;
}

body[darkmode] .fa-sun {
  color: var(--white);
  transition: .5s ease;
}

body[darkmode] .darkmode-toggle::before {
  left: 2.75em;
  background: linear-gradient(var(--white-layer-1) 10%, var(--white-layer-1));
}

body[darkmode] nav {
  background-color: var(--dark-layer-1);
  color-scheme: dark;
}

body[darkmode] .chapter-btn {
  color:var(--white);
}

.light-dark-icons {
  display:flex;
  justify-content: space-around;
}

.activeUrl {
  font-weight: 700;
  border-left: 2px solid var(--black);
}

body[darkmode] .activeUrl {
  border-left: 2px solid var(--white);
}

#nav-icon {
  width: 50px;
  height: 46px;
  position: relative;
  display: flex;
  justify-content: center;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 25px;
  background: rgba(15,15,15,1);
  border-radius: 7px;
  opacity: 1;
  left: 12px;
  transition: .35s ease-in-out;
  transform: rotate(0deg);
}

#nav-icon span:nth-child(1) {
  top: 8px;
}

#nav-icon span:nth-child(2) {
  top: 20px;
}

#nav-icon span:nth-child(3) {
  top: 32px;
}

.nav-toggle[open] #nav-icon span:nth-child(2) {
  opacity: 0;
  left: 30px;
}

@media screen and (min-width: 1024px) {
  nav {
    max-width: fit-content;
  }
}

@media screen and (min-width: 1240px) {
  .page-turner {
    position: absolute;
    left: 75%;
  }
}